.FirstDiv{
  background-color:green;
  padding:15px 0;
  position:fixed;
  top:0;
  right:0;
  left:0;
  
}

.SecondDiv{ 
  display:grid;
 
  hover{
     cursor: "pointer" }
}

.Link1{
  grid-column:1;

}
.Link2{
  grid-column:2;

}
.Link3{
  grid-column: 3;
 
}