.FirstDiv{
  background-color:rgba(58, 128, 122, 0.767);
  height:15%;
  position:fixed;
  top:0;
  right:0;
  left:0;

  text-align:center;
  align-items: center;
  
  display:flex;
  justify-content:space-between ;


hover{
     cursor: "pointer" }
}

.Link2{
  flex-basis:50%;
}
.Link3{

  margin-right:15px;
}
