.header-name {
  color: rgb(18, 159, 154);
  font-family: "cherry Swash", cursive;
}


.itemContainer {
  text-align: center;
  
  height: auto;
  display:flex;
  flex-wrap:wrap;
 
  justify-content: space-around;
}

.item {
  flex-basis:200px;
  flex-grow:1;
  
  max-width: 250px;
  margin: 20px 10px;
  box-shadow: 0 0 6px #e8e8e8;
  background-color: #b15804;
  cursor: pointer;
  

  
}

.pic {
 // max-width: 50%;
  height: auto;
  display:block;
}

.explain {
  height: 120px;

}

