.header-name {
  color: rgb(18, 159, 154);
  font-family: "cherry Swash", cursive;
}


.itemContainer {
  margin: 20px auto;
  text-align: center;
  max-width: 100%;
  height: auto;
}

.item {
  display: inline-block;
  width: 25vw;
  margin: 20px 10px;

  box-shadow: 0 0 6px #e8e8e8;
  background-color: #b15804;
  cursor: pointer;
}

.pic {
  max-width: 100%;
  height: auto;
}

.explain {
  height: 120px;
  vertical-align: middle;
}
